label {
    margin-right: 10px;
}

.accordion__button {
   background: #f9f9f9db;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    text-align: left;
    width: 100%;
    transition: background-color 0.3s;
    border-radius: 20px;
}

.accordion__button:hover {
    background-color: #a9f7c3;
}

.daily-item {
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 10px;
    border-radius: 8px;
}

.title {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-weight: 600;
}

.icon-small {
    width: 50px;
    margin-right: 10px;
}

.day {
    font-weight: bold;
    margin-right: auto;
}

.description {
    color: #666;
}

.min-max {
    margin-left: 10px;
}

.daily-details-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    width: auto;
    gap: 10px;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.daily-details-grid-item {
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
    background-image: linear-gradient(to top, lightgrey 3%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
    border-radius: 50px;

}

/* Små justeringar för responsivitet */
@media (max-width: 600px) {

    .daily-item,
    .daily-details-grid-item {
        flex-direction: column;

    }
}