.accordion__button {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    text-align: left;
    width: 100%;
    transition: background-color 0.3s;
}

.accordion__button:hover {
    background-color: #f0f0f0;
}

.daily-item {
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 10px;
    border-radius: 8px;
}

.icon-small {
    width: 50px;
    margin-right: 10px;
}

.day {
    font-weight: bold;
    margin-right: auto;
}

.description {
    color: #666;
}

.min-max {
    margin-left: 10px;
}

.daily-details-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
}

.daily-details-grid-item {
    display: flex;
    justify-content: space-between;
}

/* Små justeringar för responsivitet */
@media (max-width: 600px) {

    .daily-item,
    .daily-details-grid-item {
        flex-direction: column;
        align-items: flex-start;
    }
}