* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.5;
    color: #333;
    background: #f4f4f4;
    margin: 0;
    padding: 20px;
}

/* Container för att centrera innehållet */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.locationbtn {
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: large;

}

button.lcbtn {
    margin: 10px;
    padding: 3px;
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
}

.location-icon {
    width: 30px;
    margin-right: 10px;
    margin-left: 10px;
}